In [6]:
import pandas as pd

In [11]:
csv_path = "Health_Factors.csv"
HF_df = pd.read_csv(csv_path)

HF_df.head(50)

,State,FIPS,County,Population,Life Expectancy,# Food Insecure,Median Household Income,# Primary Care Physicians,# Unemployed,# Completed High School
0,Alabama,1089,Madison,372909,77.702932,48620,68609,326.0,4714,227198
1,Alabama,1091,Marengo,18863,72.314521,3920,38838,9.0,271,10974
2,Alabama,1085,Lowndes,9726,71.150811,2400,33930,1.0,204,5533
3,Alabama,1087,Macon,18068,72.837683,3850,34281,7.0,337,9843
4,Alabama,1097,Mobile,413210,75.234643,69830,49492,274.0,7024,241102
5,Alabama,1099,Monroe,20733,74.288955,4720,40005,9.0,356,12605
6,Alabama,1093,Marion,29709,74.547376,5350,44675,10.0,446,16927
7,Alabama,1095,Marshall,96774,74.878237,15380,48913,55.0,1086,52194
8,Alabama,1073,Jefferson,658573,74.621733,106470,54127,717.0,9091,405059
9,Alabama,1075,Lamar,13805,74.987897,2550,42686,NaN,179,8100
10,Alabama,1069,Houston,105882,76.136650,17610,50138,94.0,1390,62123
11,Alabama,1071,Jackson,51626,73.967360,8960,44322,28.0,772,30781
12,Alabama,1081,Lee,164542,77.877803,24680,54160,84.0,2080,88206
13,Alabama,1083,Limestone,98915,77.658847,13100,64729,35.0,1154,55844
14,Alabama,1077,Lauderdale,92729,76.604448,13810,48188,46.0,1388,55580
15,Alabama,1079,Lawrence,32924,74.090222,5470,47797,5.0,447,18489
16,Alabama,1101,Montgomery,226486,76.505526,40430,52711,230.0,3260,130592
17,Alabama,1123,Tallapoosa,40367,74.703384,7110,47100,20.0,556,23121
18,Alabama,1125,Tuscaloosa,209355,76.666683,30460,52307,150.0,2842,114020
19,Alabama,1119,Sumter,12427,73.680551,2990,29209,7.0,219,7012
20,Alabama,1121,Talladega,79978,73.321252,14230,47719,26.0,1213,44979
21,Alabama,1131,Wilcox,10373,70.808776,2670,30998,3.0,195,5439
22,Alabama,1133,Winston,23629,74.934925,4080,40827,10.0,336,13521
23,Alabama,1127,Walker,63521,70.532205,11640,45991,26.0,830,36641
24,Alabama,1129,Washington,16326,75.655722,3210,48864,2.0,313,9375
25,Alabama,1107,Pickens,19930,76.173657,4010,40249,8.0,276,11815
26,Alabama,1109,Pike,33114,74.992272,6280,41271,15.0,504,16397
27,Alabama,1103,Morgan,119679,75.327489,17700,54355,62.0,1500,69341
28,Alabama,1105,Perry,8923,72.336580,2560,29572,3.0,178,4873
29,Alabama,1115,St. Clair,89512,75.529694,12280,65403,15.0,1091,51936
30,Alabama,1117,Shelby,217702,80.736773,22450,77801,177.0,2525,134769
31,Alabama,1111,Randolph,22722,73.559505,3520,42922,5.0,292,12563
32,Alabama,1113,Russell,57961,73.741852,10580,43670,15.0,698,32623
33,Alabama,1067,Henry,17205,76.015677,2590,48597,5.0,247,9659
34,Alabama,1021,Chilton,44428,74.907660,6960,49692,10.0,538,24572
35,Alabama,1023,Choctaw,12589,74.708876,2710,39808,5.0,218,7592
36,Alabama,1017,Chambers,33254,75.022110,5530,42015,14.0,462,19417
37,Alabama,1019,Cherokee,26196,74.478389,4040,45982,10.0,338,15396
38,Alabama,1029,Cleburne,14910,74.417290,2620,51276,3.0,183,8283
39,Alabama,1031,Coffee,52342,76.444140,7980,57299,24.0,623,30326
40,Alabama,1025,Clarke,23622,74.563341,5150,43822,13.0,436,13511
41,Alabama,1027,Clay,13235,74.899592,2130,40562,5.0,183,7254
42,Alabama,1005,Barbour,24686,74.054741,5650,35972,8.0,324,13152
43,Alabama,1007,Bibb,22394,73.408784,3400,47918,12.0,266,12782
44,Alabama,1001,Autauga,55869,77.162581,8620,58233,26.0,714,33076
45,Alabama,1003,Baldwin,223234,78.213405,26860,59871,153.0,2653,137219
46,Alabama,1013,Butler,19448,74.153846,3820,39944,5.0,338,11753
47,Alabama,1015,Calhoun,113605,73.456889,20050,47747,73.0,1635,66793
48,Alabama,1009,Blount,57826,74.370874,7810,52902,12.0,676,32028
49,Alabama,1011,Bullock,10101,74.440359,2120,31906,3.0,175,5303

In [14]:
#Review Data
HF_df.count()

State                        1422
FIPS                         1422
County                       1358
Population                   1422
Life Expectancy              1403
# Food Insecure              1422
Median Household Income      1422
# Primary Care Physicians    1355
# Unemployed                 1422
# Completed High School      1422
dtype: int64

In [15]:
#Remove N/A's from DF
clean_HF_df = HF_df.dropna(how="any")
clean_HF_df.count

State                        1273
FIPS                         1273
County                       1273
Population                   1273
Life Expectancy              1273
# Food Insecure              1273
Median Household Income      1273
# Primary Care Physicians    1273
# Unemployed                 1273
# Completed High School      1273
dtype: int64

In [19]:
#Filter on Texas

Texas_HF = clean_HF_df.loc[clean_HF_df["State"] == "Texas"]
                           
Texas_HF.head()

,State,FIPS,County,Population,Life Expectancy,# Food Insecure,Median Household Income,# Primary Care Physicians,# Unemployed,# Completed High School
980,Texas,48339,Montgomery,607391,79.666573,69390,88833,353.0,9659,327594
981,Texas,48337,Montague,19818,74.436613,3190,53649,6.0,265,11685
982,Texas,48335,Mitchell,8545,75.727868,1130,44457,4.0,82,4385
983,Texas,48341,Moore,20940,77.756567,2740,55099,10.0,255,8393
984,Texas,48347,Nacogdoches,65204,76.982722,12430,46207,46.0,1057,31213

In [29]:
#Calculate Percentage Columns

Final_DF = pd.DataFrame(Texas_HF)
Final_DF["% Food Insecure"] = Texas_HF["# Food Insecure"]/Texas_HF["Population"]
Final_DF["% Primary Care Physicians"] = Texas_HF["# Primary Care Physicians"]/Texas_HF["Population"]
Final_DF["% Unemployed"] = Texas_HF["# Unemployed"]/Texas_HF["Population"]
Final_DF["% Completed High School"] = Texas_HF["# Completed High School"]/Texas_HF["Population"]

Final_DF.head()

,State,FIPS,County,Population,Life Expectancy,# Food Insecure,Median Household Income,# Primary Care Physicians,# Unemployed,# Completed High School,% Food Insecure,% Primary Care Physicians,% Unemployed,% Completed High School
980,Texas,48339,Montgomery,607391,79.666573,69390,88833,353.0,9659,327594,0.114243,0.000581,0.015902,0.539346
981,Texas,48337,Montague,19818,74.436613,3190,53649,6.0,265,11685,0.160965,0.000303,0.013372,0.589616
982,Texas,48335,Mitchell,8545,75.727868,1130,44457,4.0,82,4385,0.132241,0.000468,0.009596,0.513166
983,Texas,48341,Moore,20940,77.756567,2740,55099,10.0,255,8393,0.130850,0.000478,0.012178,0.400812
984,Texas,48347,Nacogdoches,65204,76.982722,12430,46207,46.0,1057,31213,0.190632,0.000705,0.016211,0.478698